@import "../../../scss/variables";

:export {
	color: $primary-font-color;
	background: $secondary-color;
	secondaryBackground: $secondary-color;
	accentColor: $accent-color;
	border: 1px solid $field-border-color;
	none: "none";
	box-shadow: 0 0 0 0.1rem $accent-color;
}

.lockable {
	width: calc(100% - 40.19px) !important;
}
.select {
	width: 100%;
	div {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

}