@import "../../scss/variables";

.importTable {
  margin-top: 30px;
}

.selectableCell {
  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}

.placeholder {
  color: $secondary-font-color;
}

.editableCell {
  outline: 0;
  // border-width: 0 0 1px;
  border: none;

  flex-grow: 1;
  background-color: transparent;
}

.errorIcon {
  color: red;
}

.successIcon {
  color: green;
}

.importIcon {
  color: green;
}

.checkbox {
  cursor: pointer;
}

.tableButtons {
  display: flex;
  margin-bottom: 40px;
 
  .importButton {
    margin-left: auto;
  }
 
}
