.loginButton{
    width: 100%;    
}

.loginForm {
    margin-top: 15px;
}

.loginField {
    margin-bottom: 20px !important;
}

.header {
    justify-content: center !important;
    margin-bottom: -25px;
    margin-top: 10px;
}