@import "../../../scss/variables";

.container {
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;

	.cover {
		max-width: 200px;
		height: 100%;
		border-radius: 4px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	}

	.detailsPanel {
		padding-left: 30px;
		padding-top: 5px;
		flex-grow: 1;
		color: rgb(255, 255, 255);

		.detailsTitle {
			display: flex;
			margin-bottom: -5px;
			align-content: center;

			h4 {
				margin: 0px;
			}

			.rating {
				margin-left: auto;
				margin-top: -4px;
			}
		}

		.detailProperty {
			display: flex;
			line-height: 25px;
			

			.detailsHeading {
				flex: 0 0 150px;
				font-weight: 600;
				font-size: 13px;
				color: $secondary-font-color;
				text-transform: uppercase;
			}

			.detailsValue {
				max-width: 750px;
			}
		}

		.summary {
			max-width: 750px;
			margin-top: 30px;
		}
	}
}

.rating {
	padding-top: 6px;
}

.detailSection {
	margin-top: 25px;
}