@import "../../scss/variables";

.book {
	margin-right: 25px !important;
	margin-bottom: 35px;
	width: 140px;

	.coverContainer {
		position: relative;

		cursor: pointer;

		.coverImage {
			border-radius: 5px;
			height: 215px !important;
		}
		&:hover {
			.coverImage {
				filter: blur(1px) brightness(70%);
				transition: 0.3s;
			}
		}
	}

	.caption {
		padding-left: 4px;
		font-size: 13px !important;

		.title {
			color: $primary-font-color;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			text-decoration: none;
			&:hover {
				color: $accent-color;
			}
		}

		.subtitle {
			color: $secondary-font-color;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.deleted {
		filter: blur(1px) brightness(50%) !important;
	}

	.deletedIcon {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		color: #cd0404;
	}

	.link {
		text-decoration: none;
	}
}
