@import "../../scss/variables";

.sidebar {
	padding-top: 10px;
	height: 100%;	
	z-index: 1;
	margin-top: 10px;	
	margin-left: 5px;
	top: 0;	
	left: 0;	
	background: $transparent-background;
	border-radius: 4px;
	overflow-x: hidden;
	transition: 0.5s;
	color: $primary-font-color;

	ul {
		padding-left: 0px;
		list-style-type: none;
	}
}
.mainContent {
	padding: 20px;
}

.content {
	&.open {
		margin-left: $sidebar-open-width;
	}
	&.closed {
		margin-left: $sidebar-closed-width + 10px;
	}
}

.nonActivatable {
	padding-left: 70px;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		color: $accent-color;		
	}
}
