@import "../../scss/variables";


.mainContent {
	padding: 20px;
}

.content {
	&.open {
		margin-left: $sidebar-open-width;
	}
	&.closed {
		margin-left: $sidebar-closed-width + 10px;
	}
}

.nonActivatable {
	padding-left: 70px;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		color: $accent-color;
		background: $navigation-secondary-color;
	}
}
