@import "../../scss/variables";

.dropdown {
	cursor: pointer;
	min-width: 200px;
	font-size: 14px;
	color: white;
}

.libraryMenu {
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 16px;

	&:hover {
		color: $accent-color;
	}
}

.name {
	display: inline;
	margin-left: 15px;
}

.chevron {
	float: right;
	margin-right: 20px;
	margin-top: 4px;
	transition: 0.2s transform ease-in-out;
}

div[aria-expanded="true"] .chevron {
	transform: rotate(90deg);
}
