@import "../../scss/variables";

.submenuItem {
	padding-left: 70px;
	padding-top: 8px;
	padding-bottom: 8px;

	&:hover {
		color: $accent-color;		
	}

	&.active {
		background: linear-gradient(
			to right,
			$accent-color 0px,
			$accent-color 2px,
			transparent 2px,
			transparent transparent $sidebar-open-width
		) !important;
		color: $accent-color;
	}
}
