@import "../../scss/variables";

.dropdown {
	cursor: pointer;	
	font-size: $sidebar-font-size;
	font-weight: $sidebar-font-weight;
	color: white;

}

.libraryMenu {
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 16px;

	&:hover {
		color: $accent-color;
	}
}

.name {
	display: inline;
	margin-left: 15px;
}

.chevron {
	float: right;
	margin-right: 20px;
	margin-top: 4px;
		transition: 0.2s transform ease-in-out;
}

.icon {
	font-size: $sidebar-font-size;
}


div[aria-expanded="true"] .chevron {
	transform: rotate(90deg);
}

.hide {
	display: none !important;
}
