@import "../../scss/variables";

.container ol {
	margin-bottom: 0px !important;
	background-color: transparent;
}

.homeIcon {
	margin-right: 10px;	
}

.breadcrumbItem {
	a {
		color: $primary-font-color;
		text-decoration: none;		
		font-size: 15px;		
	}
	:hover {
		color: $accent-color;
		text-decoration: none;
	}
}
