@import "../../scss/variables";

.lock {
  background: $secondary-color !important;
  border-color: $field-border-color !important;

  cursor: pointer;
}

.locked {
  color: $accent-color !important;
}

.unlocked {
  color: white !important;
}
